.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}
.hostJoinScreen {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}
.bigText {
  font-family: "Segoe UI";
  font-size: 100px;
  font-weight: lighter;
  color: white;
  flex: 1;
  margin-left: 1%;
}
.mediumText {
  font-family: "Segoe UI";
  font-size: 50px;
  font-weight: lighter;
  color: white;
}
.smallText {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: lighter;
  color: white;
  text-align: "center";
}
.titleBox {
  display: flex;
  flex: 3;
  align-items: center;
  align-self: center;
  border-width: 1;
  border-color: white;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
.startButton {
  color: white;
  flex-direction: column;
  justify-self: start;
  font-family: "Segoe UI";
  text-decoration: unset;
  background-color: #f4b670;
  padding: 1%;
  margin-bottom: 1%;
  width: 30%;
  height: 5%;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
}
.buttonBox {
  display: flex;
  width: 250px;
}
.teamBox {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  justify-self: flex-start;
  align-items: center;
  height: 10px;
  margin-bottom: 1%;
}
.inputField {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1%;
}

.row {
  display: flex;
}
.col {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: blue;
}
